<!doctype html>
<html lang="da">

<head>
    <% include ../../partials/template/head.ejs %>
</head>

<body>

    <% include ../../partials/template/header_admin.ejs %>

    <div class="container" id="top-container">
        <% include ../../partials/template/header.ejs %>
        <% include ../../partials/template/mainNav.ejs %>
    </div>

    <div class="container" id="main-container">
        <div class="row">
            <div class="col-md-9" id="main-column">
                <p><a href="/" class="breadCrumbLink">Forside</a> /
                    <%= pageTitle %>
                </p>
                <h1>
                    <%= pageTitle %>
                </h1>
                <div class="col-md-12 main-content">
                    <div class="row">
                        <div class="col-md-12">
                            <%= sponsor_tekst %>
                        </div>
                    </div>
                </div>
                </br>
                </br>



                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><i class="fas fa-eye"></i> Visninger</th>
                            <th scope="col">Pris per visning</th>
                        </tr>
                    </thead>
                    <tbody>


                        <% sponsor_priser.forEach(function(pris) { %>
                        <tr class="text-right">
                            <td scope="row"><%= pris.visninger %></td>
                            <td>0,<%= pris.pris %> kr.</td>
                        </tr>
                        <% }) %>

                    </tbody>
                </table>
            </div>

            <div class="col-md-3" id="aside-column">
                <div class="col-md-12" id="aside-content">
                    <% include ../../partials/content/artikel_find.ejs %>
                    <% include ../../partials/content/artikel_mestLaeste.ejs %>
                    <% include ../../partials/content/sponsor_reklame.ejs %>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="bottom-container">
        <% include ../../partials/template/footer.ejs %>
    </div>

</body>
<% include ../../partials/template/scripts.ejs %>
<script src="/javascripts/kommentar_validering.js"></script>

</html>
