<!doctype html>
<html lang="da">

<head>
    <% include ../../partials/template/head.ejs %>
    <!-- Admin css -->
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <!-- <link rel="stylesheet" href="style4.css"> -->
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
</head>

<body>
    <% include ../../partials/template/header_admin.ejs %>
    <div class="wrapper">
        <!-- Sidebar hentet og tilpasset. https://bootstrapious.com/p/bootstrap-sidebar -->
        <% include ../../partials/template/sidebar_admin.ejs %>

        <!-- Page Content  -->
        <div id="content">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span> Sidebar</span>
                </button>

                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            <%= pageTitle %>
                        </h1>
                        <p>Her kan du rette kontaktoplysningerne som vises på sitet.</p>
                    </div>
                    <div class="panel panel-default col-md-12">
                        <div class="panel-heading">
                            <h2 class="panel-title">Ret kontaktoplysninger</h2>
                        </div>
                        <div class="panel-body">
                            <form id="retKontaktoplysningForm" method="post" action="/admin/kontaktoplysning_ret/<%= kontakt.id %>">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputVejnavn">Vej</label>
                                            <input required type="text" class="form-control" id="inputVejnavn" name="vejnavn"
                                                value="<%= kontakt.vejnavn %>">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputHusnummer">Husnummer</label>
                                            <input required type="text" class="form-control" id="inputHusnummer" name="husnummer"
                                                value="<%= kontakt.husnummer %>">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputPostnummer">Postnummer</label>
                                            <input required type="text" class="form-control" id="inputPostnummer" name="postnummer"
                                                value="<%= kontakt.postnummer %>">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputBynavn">By</label>
                                            <input required type="text" class="form-control" id="inputBynavn" name="bynavn"
                                                value="<%= kontakt.bynavn %>">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="inputLandenavn">Land</label>
                                            <input required type="text" class="form-control" id="inputLandenavn" name="land"
                                                value="<%= kontakt.land %>">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputTelefon">Telefon</label>
                                            <input required type="text" class="form-control" id="inputTelefon" name="telefon"
                                                value="<%= kontakt.telefon %>">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputFax">Fax</label>
                                            <input required type="text" class="form-control" id="inputFax" name="fax"
                                                value="<%= kontakt.fax %>">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="inputEmail">Email</label>
                                            <input required type="email" class="form-control" id="inputEmail" name="email"
                                                value="<%= kontakt.email %>">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <button id="retKnap" class="btn btn-default" type="submit" name="retKnap" value="ret">Ret</button>

                                        <p id="formMessage">
                                            <%= message %>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../../partials/template/scripts.ejs %>

    <!-- Confirm delete -->
    <script src='/javascripts/confirmAction.js'></script>
    <script src='/javascripts/collapseAdminSidebar.js'></script>



</body>

</html>
